.header {
  border-bottom: 1px solid;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero {
  background-image: url(../images/joging-track.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
